---
import Article from "../components/Article.astro";
import MyService from "../components/MyService.astro";
import Layout from "../layouts/Layout.astro";
console.log("javascript is running");

import { wpquery } from "../helper/wordpress";

const data: Data = await wpquery({
  query: `query SearchServices {
  services {
    nodes {
      title
      serviceDetails {
        description
        logo
      }
    }
  }
}`,
});

// const nodes= data.services.nodes as

interface Data {
  services: Services;
}
interface Services {
  nodes?: NodesEntity[] | null;
}
interface NodesEntity {
  title: string;
  serviceDetails: ServiceDetails;
}
interface ServiceDetails {
  description: string;
  logo: string;
}
---

<Layout title="SazzadTanim">
  <!-- article -->
  {
    [...Array(1)].map((article, index) => (
      <Article
        title="About me"
        sub_title="Hello! I’m Sazzad hossain."
        description="Back-end & Front-end developer from Dhaka, Bangladesh. I have rich experience in JavaScript, also I am good at TypeScript. I love to talk with you."
      />
    ))
  }

  <section class="prose">
    <h2>My services</h2>

    <div
      class="grid xl:grid-cols-[repeat(auto-fill,minmax(12rem,1fr))] gap-5 prose grid-rows-[masonry]"
    >
      {
        data.services.nodes?.map((article, index) => (
          <MyService
            logo={article.serviceDetails.logo}
            title={article.title}
            description={article.serviceDetails.description}
          />
        ))
      }
    </div>
  </section>
</Layout>
