---
import Article from "../components/Article.astro";
import MyService from "../components/MyService.astro";
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../wordpress/query";

const data = await wpquery({
  query: `query Services {
  services {
    nodes {
      slug
      id
      title
      descriptionOfTheService
      priceOfTheService
    }
  }
}`,
});

console.log("data", JSON.stringify(data, null, 2));
---

<Layout title="Welcome to Astro.">
  <!-- article -->
  {
    [...Array(1)].map((article, index) => (
      <Article
        title="About me"
        sub_title="Hello! I’m Sazzad hossain."
        description="Back-end & Front-end developer from Dhaka, Bangladesh. I have rich experience in JavaScript, also I am good at TypeScript. I love to talk with you."
      />
    ))
  }

  <section class="prose">
    <h2>My services</h2>
    {
      data ? (
        <div class="grid xl:grid-cols-2 gap-5 prose">
          {data.services.nodes.map((article: any) => (
            <MyService
              logo="https://cdn.worldvectorlogo.com/logos/mern.svg"
              title={article.title}
              description={article.descriptionOfTheService}
              id={article.id}
              slug={article.slug}
            />
          ))}
        </div>
      ) : null
    }
  </section>
</Layout>
