---
import Article from "../components/Article.astro";
---

<div class="">
  <Article
    title="About me"
    sub_title="Hello! I’m Sazzad hossain."
    description="Back-end & Front-end developer from Dhaka, Bangladesh. I have rich experience in JavaScript, also I am good at TypeScript. I love to talk with you."
  />
</div>
