---
interface MyArticle {
  title?: string;
  sub_title?: string;
  description?: string;
}

const { description, sub_title, title } = Astro.props as MyArticle;
---

<div class="@container">
  <article class="prose space-y-4 p-4 @sm:p-8 prose-slate">
    {title ? <h2 class="">{title}</h2> : null}

    {sub_title ? <h3>{sub_title}</h3> : null}

    {description ? <p class="">{description}</p> : null}
  </article>
</div>
