---
interface MyArticle {
  title: string;
  sub_title: string;
  description: string;
}

const { description, sub_title, title } = Astro.props as MyArticle;
---

<article class="prose space-y-4">
  <h2 class="">{title}</h2>

  <h3>{sub_title}</h3>

  <p class="">
    {description}
  </p>
</article>
