<article class="ring-2 space-y-4 h-36">
  <h2 class="ring-2 w-40 h-8 bg-white"></h2>
  <div class="space-y-2">
    <p class="ring-2 w-full h-5 bg-white"></p>
    <p class="ring-2 w-full h-5 bg-white"></p>
    <p class="ring-2 w-full h-5 bg-white"></p>
  </div>
</article>
