---
import DevLink from "./DevLink.astro";
---

<div class="bg-gray-700 ring-2 lg:col-span-4 p-5 grid">
  <!-- all -->
  <div class="ring-2 align-bottom self-end">
    <!-- image -->
    <div class="ring-2 flex justify-center">
      <div
        class="ring-2 w-36 h-36 rounded-full bg-white flex justify-center items-center"
      >
      </div>
    </div>

    <!-- text -->
    <div class="ring-2 flex flex-col gap-5 p-10">
      <p class="ring-2 h-8 bg-white"></p>
      <p class="ring-2 h-6 bg-white"></p>
    </div>

    <!-- icons -->
    <div class="ring-2 flex gap-4 justify-center mb-20">
      {[...Array(4)].map((icon, index) => <DevLink />)}
    </div>

    <!-- buttons -->
    <div class="ring-2 flex gap-2 justify-between">
      <div class="ring-2 w-40 h-10 bg-white"></div>
      <div class="ring-2 w-40 h-10 bg-white"></div>
    </div>
  </div>
</div>
