---
interface DevLink {
  url: string;
  icon: string;
}

const { icon, url } = Astro.props as DevLink;
---

<a href={url} class=" ring-red-500">
  <img src={icon} alt={url} class="size-10 grid justify-center items-center sepia" />
</a>
