---
export interface I_NavItem {
  logo_url: string;
  title: string;
  url: string;
}

const { logo_url, title, url } = Astro.props as I_NavItem;
---

<div class="@container">
  <a
    class="@sm:gap-1 @lg:gap-[6px] @sm:p-2 group flex w-fit flex-col items-center gap-px p-1"
    href={url}
  >
    <div class="grid size-6 place-content-center">
      <img
        src={logo_url}
        alt={title}
        class="size-6 duration-150 group-hover:size-5 group-hover:opacity-60"
      />
    </div>
    <p class="whitespace-nowrap text-xs font-medium capitalize text-slate-800">
      {title}
    </p>
  </a>
</div>
