---
interface Props {
  title: string;
}
import Aside from "../components/Aside.astro";
import DeveloperInfo from "../components/DeveloperInfo.astro";
import Head from "../components/Head.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body
    class="grid text-white text-2xl container mx-auto lg:h-[90vh] xl:h-[80vh] xl:my-20 lg:my-10 lg:grid-flow-col lg:grid-cols-12"
  >
    <Aside />
    <DeveloperInfo />

    <!-- main app -->
    <div class="bg-slate-200 lg:col-span-7 p-4 overflow-hidden main @container">
      <div class="w-full h-full @sm:p-4 @sm:gap-10 grid overflow-y-scroll">
        <slot />
      </div>
    </div>
    <style is:global>
      body {
        animation: appearUp linear 400ms;
      }
      @keyframes appearUp {
        from {
          opacity: 0.4;
          transform: translateY(10px);
        }
      }
      .main {
        animation: appearUp linear 400ms;
      }
    </style>
  </body>
</html>
